body {
  min-width: 250px;

  padding: 20px;

  font-size: 15px;
}

button {
  padding: 5px 10px;
  font-size: 90%;
  cursor: pointer;
}

.hide-success,
.hidden-automatically {
  text-align: center;
}
.success {
  margin-bottom: 20px;
}

.add-a-rule-inputs {
  margin: 8px 0;
  white-space: nowrap;
}
.add-a-rule-inputs input {
  width: 400px;
  height: 20px;
}
